body {
    height: 100%;
    /* background-color: rgb(77, 110, 99); */
}

.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fluid {
    max-width: 1024px;
}